<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahnsik.mytuner">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/android_ukulele"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ChordC_Activity" />
        <activity android:name=".ChordC7_Activity" />
        <activity android:name=".ChordCm_Activity" />
        <activity android:name=".ChordCm7_Activity" />
        <activity android:name=".ChordD_Activity" />
        <activity android:name=".ChordD7_Activity" />
        <activity android:name=".ChordDm_Activity" />
        <activity android:name=".ChordDm7_Activity" />
        <activity android:name=".ChordE_Activity" />
        <activity android:name=".ChordE7_Activity" />
        <activity android:name=".ChordEm_Activity" />
        <activity android:name=".ChordEm7_Activity" />
        <activity android:name=".ChordF_Activity" />
        <activity android:name=".ChordF7_Activity" />
        <activity android:name=".ChordFm_Activity" />
        <activity android:name=".ChordFm7_Activity" />
        <activity android:name=".ChordG_Activity" />
        <activity android:name=".ChordG7_Activity" />
        <activity android:name=".ChordGm_Activity" />
        <activity android:name=".ChordGm7_Activity" />
        <activity android:name=".ChordA_Activity" />
        <activity android:name=".ChordA7_Activity" />
        <activity android:name=".ChordAm_Activity" />
        <activity android:name=".ChordAm7_Activity" />
        <activity android:name=".ChordB_Activity" />
        <activity android:name=".ChordB7_Activity" />
        <activity android:name=".ChordBm_Activity" />
        <activity android:name=".ChordBm7_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FileSelectorActivity"
            android:label="@string/title_activity_file_selector"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrainingActivity"
            android:label="@string/title_activity_training"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".TuningActivity"
            android:label="@string/title_activity_Tuning"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".PlayingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_playing"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".VideoTestClassActivity" />
        <activity android:name=".SetupMenuActivity" />
        <activity android:name=".BpmToolActivity" />
        <activity android:name=".ChordTableActivity" />
    </application>

</manifest>