<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ahnsik.ukuleletutor">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordC_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordC7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordCm_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordCm7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordD_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordD7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordDm_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordDm7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordE_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordE7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordEm_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordEm7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordF_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordF7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordFm_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordFm7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordG_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordG7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordGm_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordGm7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordA_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordA7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordAm_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordAm7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordB_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordB7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordBm_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordBm7_Activity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ahnsik.ukuleletutor.FileSelectorActivity"
            android:label="@string/title_activity_file_selector"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ahnsik.ukuleletutor.TrainingActivity"
            android:label="@string/title_activity_training"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.example.ahnsik.ukuleletutor.TuningActivity"
            android:label="@string/title_activity_Tuning"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.example.ahnsik.ukuleletutor.PlayingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_playing"
            android:theme="@style/FullscreenTheme" />
        <activity android:name="com.example.ahnsik.ukuleletutor.VideoTestClassActivity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.SetupMenuActivity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.BpmToolActivity" />
        <activity android:name="com.example.ahnsik.ukuleletutor.ChordTableActivity" />
    </application>

</manifest>